body {
    margin: 0;
    overflow: hidden;
}

.callout-container {
    height: 75vh;

    background-color: #D9BE91;
    /*background: url("") no-repeat bottom right fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
} 

.navbar {
    background-color: #84563C;
}

footer {
    background-color: #84563C;
}

.btn-liked {
    color: red;
}
