body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.callout-container {
    height: 100vh;

    background-color: #918E85;
    opacity: 0.99;
    background: url("https://res.cloudinary.com/drh4fiaue/image/upload/v1656255026/waffle_jrl25m.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
} 

.navbar {
    background-color: #1d1f26;
}

footer {
    background-color: #1d1f26;
}

.btn-liked {
    color: red;
}

.btn-red {
    background-color: #782e27;
    color: #fff;
}

.card-dark {
    background-color: #32373c;
}

.img-fit {
    object-fit: cover;
}

.card-animate:hover {
    transform: scale(1.01);
    background-color: #3f464d;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}