{% extends 'base.html' %}

{% block content %}

<div class="container-fluid callout-container">
    <!-- Callout -->
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <h1 class="jumbotron-header">Munch</h1>
                <h2 class="jumbotron-header">Delight in every bite</h2>
                <hr class="block-divider">
                {% if user.is_authenticated %}
                <h3 class="jumbotron-header">Lets Start Munching {{ user }}</h3>
                <br>
                <button class="btn btn-lg btn-dark" href="#">Recipes</button>
                {% else %}
                <h3 class="jumbotron-header">Sign up today to become a muncher and share your recipes with the world!</h3>
                <br>
                <button class="btn btn-lg btn-dark" href="#">Sign Up</button>
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}