{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Hero Image -->
<div class="container-fluid callout-container">
    <!-- Callout -->
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="callout jumbotron text-center text-light">
                <h1 class="jumbotron-header display-1">Munch</h1>
                <h2 class="jumbotron-header">Delight in every bite</h2>
                <hr class="block-divider">
                {% if user.is_authenticated %}
                <h3 class="jumbotron-header">Lets Start Munching {{ user }}</h3>
                <br>
                <form action="{% url 'recipes' %}" method="get">
                    <button class="btn btn-lg btn-red">Recipes</button>
                </form>
                {% else %}
                <h3 class="jumbotron-header">Sign up today to become a muncher and share your recipes with the world!</h3>
                <br>
                <form action="{% url 'account_signup' %}" method="get">
                    <button class="btn btn-lg btn-red">Sign Up</button>
                </form>
                {% endif %}
            </section>
        </div>
    </div>
</div>

<!-- About Us -->
<div class="container-wrapper mt-3">
    <div class="container features-container content-container">
        <section class="features">
            <div class="row">
                <div class="col-8 offset-2 page-header">
                    <h2 class="text-center">About Us</h2>
                    <br>
                    <h4 class="text-center">What is Munch you ask?</h4>
                    <h5 class="text-center mt-3">Munch is a global recipe-sharing platform and cooking community, where people (Munchers) from all around the world come to browse, search, 
                        create and share thousands of home-cooked recipes everyday. A community of foodies uniting for one purpose... Food.</h5>
                    <h5 class="text-center mt-3 mb-5">So enough reading about us and start your foodie journey Muncher.
                    </h5>
                </div>
            </div>
        </section>  
    </div>
</div>

<!-- Explore Section -->
<div class="row g-0 mt-3 card-dark">
    <div class="col-md-5 my-auto p-5">
        <h2 class="text-center text-light display-2"><i class="fas fa-globe-europe" style="color:green"></i> Explore</h2>
        <br>
        <h4 class="text-center text-light">Explore and discover delicious recipes and cuisines from Munchers all over the world</h4>
    </div>
    <div class="col-md-7">
        <img width="100%" height="100%" src="https://res.cloudinary.com/drh4fiaue/image/upload/v1656263568/bulgogi-beef-8081w-1024x683_w6zki1.jpg" class="img-fluid" alt="Picture of Bulgogi Beef">
    </div>
</div>

<!-- Create Section -->
<div class="row g-0">
    <div class="col-md-7">
        <img width="100%" height="100%" src="https://res.cloudinary.com/drh4fiaue/image/upload/v1656263710/coconut-curry-chickpea-stew-1322w-1024x683_z4djla.jpg" class="img-fluid" alt="Picture of coconut chickpea stew">
    </div>
    <div class="col-md-5 my-auto p-5">
        <h2 class="text-center text-dark display-2"><i class="fas fa-book" style="color: #de9f3e;"></i> Create</h2>
        <br>
        <h4 class="text-center text-dark">Create and share your own recipes with the world!</h4>
    </div>
</div>

<!-- Cherish Section -->
<div class="row g-0 card-dark">
    <div class="col-md-5 my-auto p-5">
        <h2 class="text-center text-light display-2"><i class="far fa-heart" style="color:red"></i> Cherish</h2>
        <br>
        <h4 class="text-center text-light">Like and cherish recipes you love and come back to them forever...</h4>
    </div>
    <div class="col-md-7">
        <img width="100%" height="100%" src= "https://res.cloudinary.com/drh4fiaue/image/upload/v1656263817/japanese-fluffy-pancakes-recipe-7077w-2-1024x683_gqk9tw.jpg" class="img-fluid" alt="Picture of Japanese pancakes">
    </div>
</div>

{% endblock %} 