{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<!-- Recipe Card Header -->
<div class="container">
    <div class="row g-0 recipe-card-head mt-4 card-dark">
        <div class="col-md-4 my-auto pb-5 p-5 text-center">
            <h1 class="recipe-title text-center text-light"> {{ recipe.title }}</h1>
            <p class="recipe-subtitle text-center text-light">by {{ recipe.author }} | {{ recipe.published_on }}</p>
            {% if user.is_authenticated and user.id == recipe.author.id %}
            <a href="{% url 'edit_recipe' recipe.id %}"><button class="btn btn-success">Edit</button></a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>

            <!-- Delete Recipe Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-2" aria-labelledby="staticBackdropLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete Recipe</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the recipe {{ recipe.title }}?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                                <a href="{% url 'delete_recipe' recipe.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <!-- Recipe Image-->
        <div class="d-md-block col-md-8">
            {% if "placeholder" in recipe.image.url %}
                <img class="img-fluid img-fit" src="https://res.cloudinary.com/drh4fiaue/image/upload/v1656255966/pexels-photo-1640777_zodc1c.jpg" width="100%">
            {% else %}
                <img class="img-fluid img-fit" src=" {{ recipe.image.url }}"  width="100%" height="100%">
            {% endif %}
        </div>
    </div>
</div>


<!-- Recipe Content -->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p>{{ recipe.description|striptags }}</p>
                <hr/>
                <h3>Ingredients:</h3>
                <p class="card-text ">{{ recipe.ingredients | safe }}</p>
                <hr/>
                <h3>Servings:</h3>
                {% if recipe.serves == 1 %}
                <p class="card-text"><i class="fas fa-utensils"></i> {{ recipe.serves | safe }} <span>Serving</span></p>
                {% else %}
                <p class="card-text"><i class="fas fa-utensils"></i> {{ recipe.serves | safe }} <span>Servings</span></p>
                {% endif %}
                <hr/>
                <h3>Time:</h3>
                <p class="card-text ">{{ recipe.cook_time | safe }} <span>Mins</span></p>
                <hr/>
                <h3>Method:</h3>
                <p class="card-text ">{{ recipe.method | safe }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <hr>
        </div>
    </div>

    <!-- Recipe Likes Counter -->
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-2">
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" value="{{ recipe.slug }}" class="btn">
                            <i class="fas fa-heart btn-liked"></i>
                        </button>
                        {% else %}
                        <button type="submit" value="{{ post.slug }}" class="btn">
                            <i class="far fa-heart"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="far fa-heart"></i></span>
                    {% endif %}
                    {{ recipe.number_of_likes }}
                </strong>
            </div>

            <!-- Comment Counter -->
            <div class="col-4">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"><i class="far fa-comments"></i>
                    {{ total_comments }}
                </strong>
                {% endwith %}
            </div>
        </div>
    
    <!-- Comments Section -->
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 ">
                <h3>Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body pt-0">
                    {% if user.is_authenticated %}
                    <h3> Leave a comment: </h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-lg btn-dark mt-2">Submit</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

</div>

{% endblock content %} 