{% extends 'base.html' %} 

{% block content %}


<div class="container">
    <div class="row g-0 recipe-card-head">
        <div class="col-md-6 my-auto">
            <h1 class="recipe-title text-light"> {{ recipe.title }}</h1>
            <p class="recipe-subtitle">by {{ recipe.author }} | {{ recipe.published_on }}</p>
        </div>
        <div class="d-md-block col-md-6">
            {% if "placeholder" in recipe.image.url %}
                <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="100%">
                {% else %}
                <img src=" {{ recipe.image.url }}" width="100%">
                {% endif %}
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body">
                <p>{{ recipe.description|striptags }}</p>
                <hr/>
                <h3>Ingredients:</h3>
                <p class="card-text ">{{ recipe.ingredients | safe }}</p>
                <hr/>
                <h3>Servings:</h3>
                {% if recipe.serves == 1 %}
                <p class="card-text"><i class="fas fa-utensils"></i> {{ recipe.serves | safe }} <span>Serving</span></p>
                {% else %}
                <p class="card-text"><i class="fas fa-utensils"></i> {{ recipe.serves | safe }} <span>Servings</span></p>
                {% endif %}
                <hr/>
                <h3>Time:</h3>
                <p class="card-text ">{{ recipe.cook_time | safe }} <span>Mins</span></p>
                <hr/>
                <h3>Method:</h3>
                <p class="card-text ">{{ recipe.method | safe }}</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %} 